<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>{{ company()?.name }}</mat-card-title>
        <mat-card-subtitle>{{ company()?.ticker }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p><strong>Exchange:</strong> {{ company()?.exchange }}</p>
        <p><strong>ISIN:</strong> {{ company()?.isin }}</p>
        <p><strong>ID:</strong> {{ company()?.id }}</p>
        <p><strong>Website: </strong> 
            @if (company()?.website) {
                <a href="{{ company()?.website }}" target="_blank">{{ company()?.website }}</a>
            } @else {
                <span>N/A</span>    
            }
        </p>
    </mat-card-content>
    </mat-card>